@model TraineeClientUsingApi.Models.Assessment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Assessment.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentStatus)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id=Model.AssessmentId }) |
    <a asp-action="AssessmentList">Back to AssessmentPage</a>
</div>
